.recherche{
    background-color: #014973;
    color: white;
}
.noir{
    color: black;
}
.bande{
    background-color: #EB661B;
}
.para{
    display: block;
    font-size: smaller;
}
.icone{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.icoon{
    font-size: 40px;
}
.cont-5{
    background-color: black;
    display: flex;
}
.tout-5{
    display: flex;
    gap: 20px;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
@media screen and (max-width: 768px){
    .produit{
        display: none;

    }
    /* .droite{
        display: none;
    }*/
    }